html, body {
	max-width: 100vw;
	min-height: 100vh;
	margin: 0;
	height: 100%;
	font-family: Franklin Gothic Medium;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

body > center {
	height: 100%;
}


/**************************/
/*	  CONNEXION HEADER	  */
/**************************/

#connexion_header {
	display: flex;
	padding: 10px;
	border: 3px solid #000;
}


/**************************/
/*		SHARED HEADER	  */
/**************************/

header {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	padding: 10px;
	border: 3px solid #171717;
}

.header_btn {
	background-color: #fff;
	margin: 0 20px;
	font-size: 1.5rem;
}

.header_btn:nth-child(2) {
	margin-right: auto;
}

.header_btn:nth-child(6) {
	margin-left: auto;
}

.header_logo {
	border: none;
}

.header_btn a {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/**************************/
/*		Shared Styles	  */
/**************************/

.page-title {
	width: 100%;
	font-size: 3em;
	padding: .2em;
	margin: 0;
	color : #fff;
	background-color: #158edf;

	border: 3px solid #171717;
	border-top: none;
	border-radius: 0;
}

form, h2, table {
	background-color: #0000007d;
	width: fit-content;
	padding: 5px 15px;
	border-radius: 15px;
}

.no_bg {
	background-color: transparent;
}


/**************************/
/*		  HOMEPAGE		  */
/**************************/
/*	Si la photo ne s'affiche pas, changer le chemin par celui du projet Wamp.
	Il suffit de remplacer 'localhost' par 'www' dans votre explorateur de fichiers	
*/
#home {
	height: 100%;
	background-image: url("http://localhost/AirFrance/airfrance/images/a.jpg");
	object-fit: contain;
	background-size: cover;
}

#home p {
	font-size: 1.2em;
}

#home h1{
	
	color : #fff;
	font-size: 2em;
}

/* PAGE CONNEXION */
#connexion {
	height: 100%;
	background-image: url("http://localhost/AirFrance/airfrance/images/c.jpg");
	object-fit: contain;
	background-size: cover;
}

#h3 {
	color : #171717;
	font-size: 2em;
}

/* PAGE AVION */
#avion {
	height: 100%;
	background-image: url("http://localhost/AirFrance/airfrance/images/b.jpg");
	object-fit: contain;
	background-size: cover;
	color : #fff;
}

/* PAGE AEROPORT */
#aeroport {
	height: 100%;
	background-image: url("http://localhost/AirFrance/airfrance/images/aeroport.jpg");
	object-fit: contain;
	background-size: cover;
	color : #fff;
}

/* PAGE VOL */
#vol {
	height: 100%;
	background-image: url("http://localhost/AirFrance/airfrance/images/vol.jpg");
	object-fit: contain;
	background-size: cover;
	color : #fff;
}

/* FOOTER */
footer {
	background-color: #173899;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: auto;
}

hr {
	width: 60%;
}

ul {
	list-style-type: none;
	display: flex;
	width: 50%;
}

li {
	margin: auto;
	font-size: 24px;
	font-weight: 800;
	color: #fff;
}